@page "/"

@inject HttpClient Http;

<div class="text-center">
    <h1>¡Hola! Bienvenido al programa de reforestación.</h1>

    <h2>Reforestando los municipios del estado de Chiapas.</h2>

    <p>Da click para mostrar la lista.</p>

    <button class="btn btn-primary"@onclick="GetDonaciones">Ver lista</button>
</div>

<br />

<table class="table">
    <thead class="bg-light">
        <tr>
            <th class="text-center">Id</th>
            <th class="text-center">Nombre del municipio</th>
            <th class="text-center">Nombre del árbol</th>
            <th class="text-center">Cantidad de árboles</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var info in donaciones)
        {
        <tr>
            <td class="text-center">@info.id</td>
            <td class="text-center">@info.nombre_mpio</td>
            <td class="text-center">@info.nombre_arbol</td>
            <td class="text-center">@info.cantidad</td>
        </tr>
        }
    </tbody>
</table>