@page "/"

@inject HttpClient Http;

<div class="text-center">
    <h1>¡Hola! Bienvenido a programa de reforestación.</h1>

    <h2>Reforestando los municipios del estado de Chiapas.</h2>

    <p>Da click para mostrar la lista o usa el menú lateral.</p>

    <button class="btn btn-primary"@onclick="GetDonaciones">Ir a la lista</button>
</div>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nombre del municipio</th>
            <th>Nombre del árbol</th>
            <th>Cantidad de árboles</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var info in donaciones)
        {
        <tr>
            <td>@info.id</td>
            <td>@info.nombre_mpio</td>
            <td>@info.nombre_arbol</td>
            <td>@info.cantidad</td>
        </tr>
        }
    </tbody>
</table>

@code{
    List<Donacion> donaciones = new List<Donacion>();

    private async Task GetDonaciones()
    {
        donaciones = await Http.GetJsonAsync<List<Donacion>>("http://www.apidonaciones.somee.com/api/Donacion");
    }

    public class Donacion
    {
        public int id { get; set; } = 0;
        public string nombre_mpio { get; set; } = "";
        public string nombre_arbol { get; set; } = "";
        public int cantidad { get; set; } = 0;
}
}